*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.clock-hold-container{
    position:relative;
    
 
}
.clock-dial{
   border:20px solid #00818a;
   width: 60vh;
    height:60vh;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.center-point{
    height:20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
     position: absolute;
}
.clock-dial .number{
    position: absolute;
    transform: rotate(calc(30deg * var(--rotation)));
    inset: 20px;
    text-align: center;
}
.clock-dial .number b{
    transform: rotate(calc(-30deg * var(--rotation))); 
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;
}

 .minute-hand-wrapper{
    width:200px;
    height:200px;
    position:absolute;
    
    border-radius: 50%;
 }
 .minute-hand{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    
 }
 .minute-hand .hand{
    width: 2px;
    height: 150px;
    background-color: black;
    position: absolute;
    top:-50px;
    
 }
 .minute-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    transform:rotate(180deg);
    position: absolute;
    top:-58px;
 }
 .hour-hand-wrapper{
    width:200px;
    height:200px;
    position:absolute;
    border-radius: 50%;
 }
 .hour-hand{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
 }
 .hour-hand .hand{
    width: 2px;
    height: 100px;
    background-color: black;
    position: absolute;
    top:-9px;
    
 }
 .hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    transform:rotate(180deg);
    position: absolute;
    top:-20px;
 }
 .second-hand-wrapper{
    width:200px;
    height:200px;
    position:absolute;
    border-radius: 50%;
 }
 .second-hand{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
 }
 .second-hand .hand{
    width: 2px;
    height: 130px;
    background-color: black;
    position: absolute;
    top:-40px;
    
 }